# R 
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj


# Project-specific
data
mcmcruns
cached
calibration/debug.parameters.Rdata

# Project-specific
/temp/
*git-ignored/

# OS-specific
.DS_Store
~$*
